services:
  train:
    environment:
      - NCCL_P2P_DISABLE=${NCCL_P2P_DISABLE:-1}
      - NCCL_IB_DISABLE=${NCCL_IB_DISABLE:-1}
    command:
      [
        "-p",
        "-m",
        "torch.distributed.run",
        "--standalone",
        "--nproc_per_node=2",
        "scripts/skrlcustom/train.py",
        "--task",
        "SpiderBotAIProject-v0",
        "--headless",
        "--distributed",
      ]
